<div class="content" role="main">
    <h1 style="text-align: center; margin: 30px">{{ title }}</h1>

    <div class="card-container">
        <button class="card card-small" (click)="fibonacciClockService.back()">
            <span>Back</span>
        </button>

        <button class="card card-small" (click)="fibonacciClockService.next()">
            <span>Next</span>
        </button>
    </div>

    <div style="padding: 30px; text-align: center">
        <h2>Time: {{ fibonacciClockService.selectedTime }}</h2>
        <h2>
            Possible Cases: {{ fibonacciClockService.fibonacciClockList[fibonacciClockService.selectedTime].length }}
        </h2>
    </div>

    <div style="display: flex; align-items: center; flex-wrap: wrap; gap: 16px">
        <div *ngFor="let item of fibonacciClockService.fibonacciClockList[fibonacciClockService.selectedTime]">
            <app-fibonacci-clock [fibonacciArray]="item"></app-fibonacci-clock>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
